/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

a,
a:hover,
a:focus,
button,
img {
  -webkit-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

button {
  background: none;
  border: none;
  padding: 0;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input {
  border: none;
  padding: 5px 10px;
}

input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
    width: 100%;
  }
}
/* Header */
header {
  background-color: #3551ad;
  width: 100%;
  height: 80px;
  padding: 20px 40px;
}
header a.logo-block {
  background: url(../image/logo.svg) no-repeat;
  float: left;
  width: 192px;
  height: 40px;
  display: block;
  text-indent: -9999px;
}
header .telephone {
  float: left;
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  margin: 5px 0 0 40px;
}
header .telephone i {
  margin: 4px 8px 0 0;
  float: left;
}
header nav {
  float: right;
  margin: 11px 0 0 0;
}
header nav ul {
  display: inline-block;
}
header nav ul li {
  float: left;
  padding: 0 20px 0 0;
}
header nav ul li a,
header nav ul li a:visited,
header nav ul li a:active {
  color: #fff;
  letter-spacing: 0.15em;
  display: inline-block;
}
header nav ul li a i,
header nav ul li a:visited i,
header nav ul li a:active i {
  float: right;
  margin: 1px 0 0 5px;
}
header nav ul li a:hover,
header nav ul li a:visited:hover,
header nav ul li a:active:hover {
  border-bottom: 1px solid #ff4081;
  color: #fff;
  padding-bottom: 6px;
  text-decoration: none;
}
header nav ul li:last-child {
  padding: 0;
}
header button.menu-btn {
  display: none;
}
header .visible {
  display: block;
  visibility: visible;
}
header .modal .login-block {
  position: relative;
  right: auto;
  margin: 0 auto 0;
}
header .modal .login-block a.lost-pass {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
  padding: 10px 0;
}
header .modal .login-block a.lost-pass:hover {
  color: #ff4081;
}
@media only screen and (max-width: 1200px) {
  header {
    padding: 20px 25px;
  }
}
@media only screen and (max-width: 900px) {
  header {
    height: 66px;
    padding: 0;
  }
  header .header-data {
    width: 240px;
    background: #3551ad;
    border-top: 2px solid #ff4081;
    right: 0;
    position: absolute;
    z-index: 2000;
    display: none;
    top: 66px;
  }
  header .telephone {
    font-size: 1.2em;
    padding: 15px 25px;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  header nav {
    margin: 12px 0;
  }
  header nav ul li,
  header nav ul li:last-child {
    width: 100%;
    padding: 0;
  }
  header nav ul li a,
  header nav ul li a:visited,
  header nav ul li a:active,
  header nav ul li:last-child a,
  header nav ul li:last-child a:visited,
  header nav ul li:last-child a:active {
    width: 100%;
    padding: 12px 20px;
  }
  header nav ul li a:hover,
  header nav ul li a:visited:hover,
  header nav ul li a:active:hover,
  header nav ul li:last-child a:hover,
  header nav ul li:last-child a:visited:hover,
  header nav ul li:last-child a:active:hover {
    background-color: #ff4081;
    padding: 12px 20px;
    border-bottom: none;
  }
  header a.logo-block {
    width: 170px;
    height: 36px;
    margin: 16px 0 16px 25px;
  }
  header button.menu-btn {
    display: block;
    visibility: visible;
    float: right;
    color: #fff;
  }
  header button.menu-btn i {
    font-size: 1.6em;
    padding: 20px 25px;
  }
}
@media only screen and (max-width: 768px) {
  header .modal .login-block {
    width: 60%;
  }
  header .modal .login-block input {
    padding: 10px;
  }
  header .modal .login-block input[type="submit"] {
    padding: 15px;
  }
}
@media only screen and (max-width: 500px) {
  header .modal .login-block {
    width: 80%;
  }
}
@media only screen and (max-width: 400px) {
  header .header-data {
    width: 100%;
  }
}

.login-block {
  width: 240px;
  background: #3551ad;
  border-top: 2px solid #ff4081;
  right: 0;
  position: absolute;
  z-index: 2000;
  display: none;
  top: 80px;
  padding: 30px 25px;
}
.login-block input {
  width: 100%;
  margin: 6px 0 20px 0;
}
.login-block input[type="submit"] {
  color: #fff;
  font-size: 0.9em;
  padding: 11px;
  background-color: #ff4081;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  margin: 8px 0 0 0;
}
.login-block input[type="submit"]:hover {
  background-color: #e63a74;
}
.login-block label {
  font-size: 0.9em;
  color: #fff;
}

.product-tree {
  margin: 30px 0 20px 0;
}
.product-tree p a {
  text-transform: uppercase;
  color: #666;
  font-size: 0.8em;
}
.product-tree p a:hover {
  color: #ff4081;
}
.product-tree p i {
  margin: 0 5px;
  color: rgba(102, 102, 102, 0.5);
}

.product-thumbs {
  float: left;
}
.product-thumbs img {
  width: 100%;
  margin: 0 0 10px 0;
  border: 1px solid transparent;
  cursor: pointer;
}
.product-thumbs img:hover {
  border: 1px solid #ff4081;
  opacity: 0.7;
}

.product-image img {
  width: 100%;
}

.product-description {
  position: relative;
  height: 672px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.6);
}
.product-description h1 {
  font-size: 2em;
  font-weight: 800;
  margin: 5px 0 30px 0;
  line-height: 1.2;
}
.product-description h3 {
  font-weight: 700;
  margin: 20px 0 10px 0;
}
.product-description p.product-price {
  color: #ff4081;
  font-weight: 700;
  font-size: 2.2em;
}
.product-description select {
  width: 72%;
  padding: 5px 10px;
  font-size: 0.9em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(153, 153, 153, 0.6);
}

.quantity-module {
  margin: 20px 0 80px 0;
}
.quantity-module input,
.quantity-module button {
  height: 30px;
  border: 1px solid rgba(153, 153, 153, 0.6);
}
.quantity-module input {
  float: left;
  width: 40px;
  font-weight: 700;
  text-align: center;
  color: #333;
}
.quantity-module button {
  width: 30px;
  text-align: center;
  float: left;
  background-color: rgba(153, 153, 153, 0.2);
  color: #999;
}
.quantity-module button:hover {
  color: #ff4081;
  background-color: rgba(153, 153, 153, 0.1);
}
.quantity-module button.substract {
  border-right: none;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.quantity-module button.add {
  border-left: none;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}
.quantity-module label {
  float: left;
  margin: 7px 0 0 12px;
  font-size: 0.9em;
  font-weight: 600;
}

.product-include {
  position: absolute;
  bottom: 0;
  margin: 0 0 25px 0;
}
.product-include button {
  color: #fff;
  font-size: 0.9em;
  padding: 14px 20px;
  background-color: #ff4081;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}
.product-include button:hover {
  background-color: #e63a74;
}
.product-include p {
  font-weight: 700;
  margin: 0 0 14px 0;
}
.product-include ul li {
  font-size: 0.9em;
  color: #3551ad;
  margin: 0 0 9px 0;
  font-weight: 600;
  line-height: 1.2;
}
.product-include ul li i {
  font-size: 0.8em;
  margin-right: 4px;
}

.product-more-details {
  margin-top: 50px;
}
.product-more-details .tab-content > .active {
  margin: 70px auto;
  float: none;
}
.product-more-details .tab-content p {
  line-height: 1.6;
  color: #666;
  margin: 0 0 20px 0;
}
.product-more-details ul {
  text-align: center;
}
.product-more-details ul li {
  display: inline-block;
  float: none;
}

.nav-tabs > li > a {
  border: none;
  font-weight: 900;
  color: #666;
  letter-spacing: 0.05em;
  border-bottom: 3px solid transparent;
}
.nav-tabs > li > a:hover {
  border-bottom: 3px solid #ff4081;
  background: none;
  color: #ff4081;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: none;
  color: #3551ad;
  border-bottom: 3px solid #3551ad;
}

.related-products {
  display: inline-block;
  margin: 0 0 80px 0;
  width: 100%;
}
.related-products img {
  width: 100%;
  display: block;
}
.related-products .col-md-8 {
  margin: 0 auto;
  float: none;
  padding: 0;
}

.related-inner {
  border: 1px solid rgba(102, 102, 102, 0.4);
}
.related-inner:hover {
  border: 1px solid #ff4081;
}

.related-block {
  padding: 15px 15px;
  display: inline-block;
  width: 100%;
}
.related-block h5 {
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.related-block p {
  color: #666;
  line-height: 1.4;
  font-size: 0.9em;
  margin: 0 0 20px 0;
}
.related-block p.product-price {
  font-weight: 600;
  color: #ff4081;
  margin: 4px 0 10px 0;
}
.related-block button {
  color: #ff4081;
  font-size: 0.9em;
  padding: 10px 35px;
  border: 2px solid #ff4081;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  text-transform: uppercase;
  width: 100%;
}
.related-block button:hover {
  background-color: #ff4081;
  color: #fff;
}

@media only screen and (max-width: 1100px) {
  .product-more-details .tab-content > .active,
  .related-products .col-md-8 {
    width: 80%;
  }
}
@media only screen and (max-width: 990px) {
  .col-md-1.product-thumbs {
    width: 10%;
    float: left;
  }

  .col-md-6.product-image,
  .col-md-5.product-description {
    width: 45%;
    float: left;
  }

  .product-include {
    position: relative;
  }

  .product-description {
    height: auto;
  }

  .related-products .col-md-4 {
    width: 33.33%;
    float: left;
  }

  .product-more-details .tab-content > .active,
  .related-products .col-md-8 {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .col-md-1.product-thumbs,
  .col-md-5.product-description,
  .col-md-6.product-image {
    width: 100%;
  }

  .block-images {
    margin: 0 0 112px 0;
    display: inline-block;
    width: 100%;
    position: relative;
  }

  .col-md-1.product-thumbs {
    width: auto;
    position: absolute;
    bottom: -65px;
    z-index: 1;
  }

  .col-md-6.product-image {
    float: left;
  }

  .product-thumbs img {
    width: 72px;
    margin: 0 10px 0 0;
  }

  .product-include button {
    padding: 18px 20px;
  }

  .related-products .col-md-4 {
    width: 50%;
    margin-bottom: 30px;
  }

  .product-description select {
    padding: 15px 10px;
  }

  .quantity-module input,
  .quantity-module button {
    height: 45px;
  }

  .quantity-module button {
    width: 45px;
  }

  .quantity-module input {
    width: 60px;
  }

  .quantity-module label {
    margin: 15px 0 0 12px;
  }
}
@media only screen and (max-width: 486px) {
  .related-products .col-md-4 {
    width: 100%;
    padding: 0;
  }

  .product-more-details .tab-content > .active {
    margin: 30px auto 50px;
    float: none;
  }

  .product-more-details ul li {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .product-description select {
    width: 100%;
  }
  .product-description h1 {
    font-size: 1.7em;
  }
  .product-description .product-include button {
    width: 100%;
  }

  .block-images {
    margin: 0 0 102px 0;
  }
}
footer {
  background-color: #252525;
  width: 100%;
}
footer .header-footer {
  border-bottom: 1px solid #000;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}
footer .header-footer a.logo-block {
  background: url(../image/logo.svg) no-repeat;
  float: left;
  width: 192px;
  height: 40px;
  display: block;
  text-indent: -9999px;
}
footer .header-footer ul {
  float: right;
  margin-top: 13px;
}
footer .header-footer ul li {
  float: left;
  padding: 0 22px 0 0;
}
footer .header-footer ul li:last-child {
  padding: 0;
}
footer .header-footer ul a {
  color: #999;
}
footer .header-footer ul a:hover {
  color: #fff;
}
footer .header-footer ul a i {
  font-size: 1.4em;
}
footer h4 {
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  width: 9%;
  border-bottom: 1px solid #3551ad;
  padding: 0 0 4px 0;
  margin: 0 0 2px 0;
}
footer hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  width: 18%;
  border-top: 1px solid #3551ad;
  float: left;
}
footer .footer-copyright {
  background-color: #222;
  height: 80px;
}
footer .footer-copyright p {
  color: #999;
  padding: 32px 0 0 0;
  font-size: 0.8em;
}
footer .footer-badges {
  padding-top: 22px;
}
footer .footer-badges img {
  float: left;
  margin-right: 10px;
}
footer .footer-badges img:nth-child(1), footer .footer-badges img:nth-child(2) {
  width: 120px;
}
footer .footer-badges img:nth-child(3) {
  width: 26px;
  margin: 0 0 0 10px;
}
footer .footer-badges .badges-block {
  display: inline-block;
  float: right;
}
footer ul.category-links {
  display: inline-block;
  width: 100%;
  margin: 15px 0 30px 0;
}
footer ul.category-links a {
  color: #999;
  font-size: 0.8em;
  padding: 6px 0;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
footer ul.category-links a:hover {
  color: #fff;
}
footer .col-md-3 {
  padding: 0 0 4px 0;
}
@media only screen and (max-width: 1200px) {
  footer .col-md-5,
  footer .col-md-7 {
    padding-left: 0;
    padding-right: 0;
  }
  footer .col-md-7 {
    float: left;
  }
  footer .col-md-3 {
    width: 33.33%;
    float: left;
  }
  footer .col-md-3:nth-child(3n+2).col-md-3 {
    padding: 0 14px 4px 14px;
  }
  footer .second-category-links {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 750px) {
  footer h4 {
    width: 16%;
  }
  footer hr {
    width: 32%;
  }
  footer .col-md-3 {
    width: 50%;
  }
  footer .col-md-3:nth-child(3n+2).col-md-3 {
    padding: 0 2px 6px 2px;
  }
  footer .col-md-3:nth-child(2n).col-md-3 {
    padding: 0 2px 6px 14px;
  }
}
@media only screen and (max-width: 680px) {
  footer .col-md-5,
  footer .col-md-7 {
    width: 100%;
  }
  footer .footer-copyright {
    height: auto;
    padding-bottom: 20px;
  }
  footer .footer-copyright p {
    padding: 22px 0 0 0;
    line-height: 1.4;
  }
  footer .footer-badges {
    display: inline-block;
    padding-top: 15px;
  }
  footer .footer-badges .badges-block {
    float: left;
  }
}
@media only screen and (max-width: 500px) {
  footer .header-footer ul {
    width: 100%;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 460px) {
  footer .col-md-3 {
    width: 100%;
  }
  footer .col-md-3:nth-child(2n).col-md-3 {
    padding: 0 2px 4px 2px;
  }
  footer .footer-badges img:nth-child(1), footer .footer-badges img:nth-child(2) {
    width: 100px;
  }
  footer .footer-badges img:nth-child(3) {
    width: 21px;
  }
  footer hr {
    width: 50%;
  }
  footer h4 {
    width: 25%;
  }
}
@media only screen and (max-width: 300px) {
  footer .footer-badges img {
    display: block;
    float: none;
    margin: 0 0 10px 0;
  }
  footer .footer-badges img:nth-child(3) {
    width: 26px;
    margin: 0;
  }
  footer .header-footer ul li {
    padding: 0 18px 13px 0;
  }
}

/*# sourceMappingURL=main.css.map */
