
// Colors
$primary-color: #3551ad
$secondary-color: #3551ad
$text-color: #666
$link-color:
$link-nav-color: #fff

// Sizes
$content-width: 1170px
$header-height: 80px
$padding-size: 20px

// Fonts
$font-family: 'Open Sans', sans-serif



body
	font-size: 100%
	font-family: $font-family
	image-rendering: -moz-crisp-edges
	image-rendering:   -o-crisp-edges
	image-rendering: -webkit-optimize-contrast
	image-rendering: crisp-edges
	-ms-interpolation-mode: nearest-neighbor


header
	background: $primary-color


.container
		width: $content-width
		padding-left: $padding-size
		padding-right: $padding-size